rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 認証済み（匿名認証を含む）ユーザーは、コードを知っていれば
    // 対応するグループの中身にアクセスできる
    match /groups/{groupCode} {
      allow read, write: if request.auth != null;
      match /{document=**} {
        allow read, write: if request.auth != null;
      }
    }
  }
}
